/*Main stylesheet*/
body, html {
    background: #f5f5f5;
}

.lead_header {
    color: #0966b9;
    text-align: center;
    margin: 5em auto;
}

.center_block {
    width: 100%;
    text-align: center;
}

/*Navigation*/
.menu {
    text-align: center;
    list-style: none;
    padding: 0;
}

.menu>li {
    display: inline-block;
    padding: 3em;
}

.menu>li>a {
    color: black;
    font-size: 1.2em;
}

/*Tree output*/
.output_block {
    display: inline-block;
    width: 100%;
}

.tree_output {
    font-size: 1.2em;
}

.full_tree {
    float: left;
    margin-left: 15em;
}

.section_block {
    float: right;
    margin-right: 15em;
}